* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #d8f7ff;
    --secondary-color: #ace7ff;
    --text-color: #10406F;
}
body {
    background-color: var(--primary-color);
    font-family: 'Signika Negative', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/*-------------- Header Section -----------------*/
header {
    padding: 10px;
    background-color: var(--text-color);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.header-text {
    margin: 10px;
    color: var(--primary-color);
}
nav ul li {
    display: inline-flex;
    padding: 10px;
    border-radius: 25px;
    border: 2px var(--primary-color) solid;
}
nav ul li a{
    color: var(--primary-color);
}

/*-------------- Hero Section -----------------*/
.hero-section {
    height: 500px;
    background-image: url(https://p.favim.com/orig/2018/08/29/aesthetic-blossom-anime-pixel-Favim.com-6261595.gif); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-section div {
    text-align: center;
    margin-top: 325px;
    height: 70px;
    float: right;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 25px;
    width: 600px;
    border: 2px var(--text-color) solid;
}
.hero-section p {
    margin-top: 12px;
    font-weight: bold;
}

/*-------------- About Me Section -----------------*/
.about {
    background-color: var(--primary-color);
    text-align: center;
}
.about div{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.about h2{
    padding: 15px;
    border-radius: 25px;
    border: 2px var(--text-color) solid;
    color: var(--text-color);
    width: 300px;
    background-color: var(--secondary-color);
}
.about-content {
    display: flex;
    justify-content: center;
    padding: 30px;

}
.about-content img {
    height: 100px;
    border: 2px var(--text-color) solid;
    border-radius: 25px;
    padding: 50px;
}
.about-content p {
    text-align: center;
    width: 800px;
    padding: 50px;
    color: var(--text-color);
}

/*-------------- My Work Section -----------------*/
.my-work {
    background-color: var(--primary-color);
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.my-work div {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.my-work h2 {
    padding: 15px;
    border-radius: 25px;
    border: 2px var(--text-color) solid;
    color: var(--text-color);
    width: 300px;
    background-color: var(--secondary-color);
}
.my-work ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.my-work li {
    width: 400px;
}
.my-work img {
    height: 200px;
    border: 2px var(--text-color) solid;
    border-radius: 25px;
    margin: 20px;
    width: 300px;
    background-color: var(--secondary-color);
    padding: 30px;
}

/*-------------- Contact Section -----------------*/

.contact {
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    justify-content: center;
}
.contact h2 {
    padding: 40px;
    color: var(--text-color);
}
.contact ul {
    padding: 40px;
    border-left: none;
}
.contact ul li {
    padding: 5px;
    display: flex;
    align-items: center;
}
.contact ul li p {
    margin-right: 20px;
    font-weight: bold;
    color: var(--text-color);
}
.contact a {
    color: var(--text-color);
}

/*-------------- Footer Section -----------------*/

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--text-color);
}
footer p {
    font-size: smaller;
    padding: 3px;
    color: var(--primary-color);
}
/* --------- Pseadu-classes and finctionality ---------- */

nav li:hover, nav a:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.contact ul li a:hover {
    font-weight: bold;
}

/* ------ Mobile responsive features --------- */

@media (max-width: 800px) {
    .about-content{
        flex-wrap: wrap;
    }
    .hero-section div {
        display: flex;
        width: fit-content;
        flex-wrap: wrap;
        width: 300px;
        height: 110px;
    }

  }
